# Proyecto Final

# 1. Conexión a la base de datos

In [8]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy.engine import URL
from sqlalchemy_utils import database_exists, create_database

engine = create_engine("sqlite:///C:\\Users\\Usuario\\OneDrive - Universidad Estatal a Distancia\\Promidat\\9- Proyecto Final\\cripto_analisis.db", echo=False)

if not database_exists(engine.url):
    create_database(engine.url)

In [16]:

# Fechas 01.01.2020 - 30.11.2023

BTC = pd.read_csv("C:\\Users\\Usuario\\OneDrive - Universidad Estatal a Distancia\\Promidat\\9- Proyecto Final\\Documentos\\BTC-USD.csv", sep = ",")
ETH = pd.read_csv("C:\\Users\\Usuario\\OneDrive - Universidad Estatal a Distancia\\Promidat\\9- Proyecto Final\\Documentos\\ETH-USD.csv", sep = ",")
BNB = pd.read_csv("C:\\Users\\Usuario\\OneDrive - Universidad Estatal a Distancia\\Promidat\\9- Proyecto Final\\Documentos\\BNB-USD.csv", sep = ",")

BTC.to_sql(
  name = 'BTC', # Nombre de la tabla.
  con = engine, # Conexión.
  if_exists = 'replace', # Acción cuando la tabla ya exista (append, replace, fail).
  index = False # Agregar o no los nombres de fila.
)

ETH.to_sql(
  name = 'ETH', # Nombre de la tabla.
  con = engine, # Conexión.
  if_exists = 'replace', # Acción cuando la tabla ya exista (append, replace, fail).
  index = False # Agregar o no los nombres de fila.
)

BNB.to_sql(
  name = 'BNB', # Nombre de la tabla.
  con = engine, # Conexión.
  if_exists = 'replace', # Acción cuando la tabla ya exista (append, replace, fail).
  index = False # Agregar o no los nombres de fila.
)

1430

In [17]:
btc = pd.read_sql('BTC', con = engine)
eth = pd.read_sql('ETH', con = engine)
bnb = pd.read_sql('BNB', con = engine)

In [18]:
# Read a db from a file

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-01,129.630661,132.835358,129.198288,130.802002,130.802002,7935230330
1,2020-01-02,130.820038,130.820038,126.954910,127.410179,127.410179,8032709256
2,2020-01-03,127.411263,134.554016,126.490021,134.171707,134.171707,10476845358
3,2020-01-04,134.168518,136.052719,133.040558,135.069366,135.069366,7430904515
4,2020-01-05,135.072098,139.410202,135.045624,136.276779,136.276779,7526675353
...,...,...,...,...,...,...,...
1425,2023-11-26,2084.177490,2094.095947,2038.600464,2063.286133,2063.286133,8054814154
1426,2023-11-27,2062.390869,2070.606201,1988.120361,2027.417358,2027.417358,10574810069
1427,2023-11-28,2027.517212,2074.954102,1996.814697,2049.338135,2049.338135,9910633038
1428,2023-11-29,2049.186768,2071.994385,2020.756592,2029.929199,2029.929199,8945151861
1429,2023-11-30,2029.358398,2054.444336,2022.461792,2052.556152,2052.556152,8107789163